<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripcion</title>
    <script src="https://kit.fontawesome.com/7a0a501500.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style_form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>        
    </header>
    <main>
        <img src="https://i.pinimg.com/originals/df/be/27/dfbe27d26a5594681492f691cad7aa24.jpg" alt="Cerveza Corona">
        <div>
            <h2>Cerveza corora Extra 355ml</h2>
            <p>500$</p>
            <div>
                <ul>
                    <li><i class="fa-solid fa-shop"></i></li>
                    <li><i class="fa-solid fa-truck"></i></li>
                </ul>
            </div>
            <div>
                <label for="opcion-bebida">Opcion</label>
                <select name="opcion-bebida" id="">
                    <option value="corona">Corona</option>
                </select>
            </div>
        </div>
    </main>
    <footer>
        <ul>
            <li><i class="fa-brands fa-whatsapp"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
        </ul>
    </footer>
</body>
</html>